#app {
    width: 100vw;
    height: 100vh;;
}


#hpbar {
    margin: 20px;
    border: 1px solid black;
    width: 350px;
    height: 60px;
}

#hpbar__bar {
       background-color: lightcoral;;
       border: 1px solid gray;
        max-width: 300px;
        max-height: 60px;
        width: 80%;
        height: 100%;
    }
